

.layer{
	height:100%;
	width: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.5);

	>.maintain{
		width: 300px;
		height: 200px;
		text-align: center;
		/*position: fixed;*/
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin:auto;
		margin-bottom:50px;
	}

	>.subtain{
		width: 300px;
		height: 200px;
		margin-top:100px;
		background-color: green;
		background-image: url("./img/smell.jpg");
	}
}

